# Variables d'environnement sensibles
.env

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environnements virtuels
venv/
env/
ENV/

# Fichiers IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Fichiers temporaires
*.tmp
*.temp